#baner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey; 
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    text-align: center;
    margin: 20px 0;


button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


    
